<div class="container">
  <div class="p-5 mx-auto" style="width: 400px;" >
    <h1>Editing Spot</h1>

    <%= render 'shared/form', spot: @spot %>
    <%= link_to 'Show', @spot %> |
    <%= link_to 'Back', spots_path %>
  </div>
</div>
